---
import { Image } from "astro:assets";
import Avatar from "$assets/avatar.png";
import Typewriter from "./typewriter.svelte";
---

<section
  class="mt-4 grid grid-flow-col items-center gap-2 rounded-md lg:mx-auto lg:w-9/12"
>
  <Image src={Avatar} alt="Avatar" class="w-24 lg:w-auto" />
  <div>
    <Typewriter client:load />
  </div>
</section>
