---
import { Image } from "astro:assets";
import Avatar from "$assets/avatar.png";
import Typewriter from "./typewriter.svelte";
---

<section
  class="mx-auto mt-4 grid w-8/12 grid-flow-col items-center gap-2 md:w-7/12"
>
  <Image src={Avatar} alt="Avatar" class="w-12 lg:w-auto" />
  <div>
    <Typewriter client:load />
  </div>
</section>
