---
import { splitTextInHalf } from "src/utils/string-splitter";

const text = "Aldabern";
const [firstHalf, secondHalf] = splitTextInHalf(text);
---

<header
  class="sticky top-0 z-[50] bg-black bg-opacity-30 p-2 px-6 font-heading text-5xl font-extrabold backdrop-blur-3xl"
>
  <h1>
    <a href="/"><span class="text-accent">{firstHalf}</span>{secondHalf}</a>
  </h1>
</header>
