---
function splitTextInHalf(text: string) {
  const midPoint = Math.floor(text.length / 2);
  const firstHalf = text.slice(0, midPoint);
  const secondHalf = text.slice(midPoint);
  return [firstHalf, secondHalf];
}

const text = "Aldabern";
const [firstHalf, secondHalf] = splitTextInHalf(text);
---

<header
  class="sticky top-0 z-[50] bg-black bg-opacity-30 p-2 px-6 font-heading text-5xl font-extrabold backdrop-blur-3xl"
>
  <h1>
    <a href="/">{firstHalf}<span class="text-accent">{secondHalf}</span></a>
  </h1>
</header>
